
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body{
    --mainBG:rgba(0, 0, 0, 0.6);
    --secBG:rgba(180, 180, 180, 0.8);
    margin:0;
    padding:0;
    background-image: url("../public/walp.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(51, 58, 45);
    font-family: 'Ubuntu', sans-serif;
    .App{
        header{
            background-color: var(--mainBG);
            display: flex;
            justify-content: space-between;
            padding:10px 40px;
            h1{
                margin: 0;
                padding: 0;
                color: white;
            }
        }
        main{
            font-size: 2rem;
            text-align: center;
            margin: 5vh auto;
            padding: 30px;
            width: 90%;
            background-color: var(--mainBG);
            border-radius: 20px;
            color: white;
            section{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                // display: grid;
                // grid-template-columns: 5% 5% 25% 55% 5% 5%;
                width: 100%;
                background-color: var(--secBG);
                color: white;
                border-radius: 10px;
                margin-bottom: 10px;
                padding: 10px;
                div{
                    display: flex;
                    text-align: left;
                }
                input[type="checkbox"]{
                    width: 50px;
                }
            }
        }
    }
    #LogIn{
        font-size: 2rem;
        text-align: center;
        margin: 20vh auto;
        padding: 30px;
        width: 80%;
        background-color: var(--mainBG);
        border-radius: 20px;
        color: white;
        input{
            text-align: center;
            width: 90%;
            background-color: var(--secBG);
            color: white;
            border-radius: 50px;
            margin-bottom: 30px;
            font-size: 2.5rem;
            &::placeholder{
                color:rgba(255, 0, 0, 0.6);
            }
        }
        button{
            font-size: 2.5rem;
            width: 90%;
            margin-bottom: 30px;
        }
        a{
            display: block;
            text-decoration: none;
            font-size: 2.5rem;
            text-align: center;
            width: 90%;
            background-color: var(--secBG);
            color: white;
            border-radius: 50px;
            margin: 0 auto 30px auto;
            box-shadow: 1px 1px 1px white inset;
        }
        input, button, a{
            &:hover{
                background-color: rgba(255, 0, 0, 0.6);
            }
        }
    }
}
button{
    font-size: 1.5rem;
    // height: 24px;
    text-align: center;
    background-color: var(--secBG);
    color: white;
    border-radius: 50px;
    padding: 0 10px;
    &:hover{
        background-color: rgba(255, 0, 0, 0.6);
    }
}
form{
    font-size: 2rem;
    text-align: center;
    margin: 3vh auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    color: white;
    input{
        text-align: center;
        background-color: rgba(180, 180, 180, 0.8);
        color: white;
        border-radius: 50px;
        margin-bottom: 10px;
        font-size: 2.5rem;
        &::placeholder{
            color:rgba(255, 0, 0, 0.6);
        }
    }
}

@media screen and (max-width:1024px) {
    body{
        background-size: 400%;
        .App{
            header{
                padding:5px 5px;
                h1{
                    margin: 0;
                    padding: 0;
                    color: white;
                }
            }
            main{
                font-size: 1rem;
                padding: 10px;
                width: 100%;
                section{
                    // display: flex;
                    // justify-content:left;
                    // flex-wrap: wrap;
                    width: 93%;
                    form{
                        font-size: 1px;
                        input{
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
        
    }
}
@media screen and (max-width:512px) {
    body{
        .App{
            main{
                font-size: 1rem;
                padding: 10px;
                width: 100%;
                section{
                    display: flex;
                    flex-direction: column;
                    justify-content:left;
                    flex-wrap: wrap;
                    width: 93%;
                    button{}
                }
            }
        }
        
    }
}