
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body{
    margin:0;
    padding:0;
    background-image: url("../public/walp2.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-color: rgb(51, 58, 45);
    font-family: 'Ubuntu', sans-serif;
    .dark{
        --mainBG:rgb(253 239 176 / 7%);
        --secBG:rgba(64, 64, 64, 0.6);
        --alert:rgba(255, 0, 0, 0.6);
        --inactive:rgba(211, 211, 211, 0.8);
        --text:white;
    }
    .light{
        --mainBG:rgb(253 239 176 / 7%);
        --secBG:rgb(248 247 240 / 47%);
        --alert:rgba(255, 0, 0, 0.6);
        --inactive:rgba(50, 50, 50, 0.8);
        --text:black;
    }
    .App{
        header{
            background-color: var(--secBG);
            backdrop-filter: blur(5px);
            display: flex;
            justify-content: space-between;
            padding:10px 40px;
            h1{
                margin: 0;
                padding: 0;
                color: var(--text);
            }
        }
        main{
            font-size: 1.5rem;
            text-align: center;
            margin: 10vh auto;
            //padding: 30px;
            width: 95%;
            // background-color: var(--mainBG);
            border-radius: 10px;
            color: var(--text);
            section{
                display: flex;
                justify-content: space-between;
                align-items: center;
                //flex-wrap: wrap;
                border: var(--secBG) solid 1px;
                backdrop-filter: blur(5px);
                background-color: var(--secBG);
                color: var(--text);
                border-radius: 10px;
                margin-bottom: 15px;
                padding: 10px;
                div{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    text-align: left;
                    form{
                        input{
                            border: none;
                            font-size: 1.5rem;
                        }
                    }
                    .btndiv{
                        flex-direction: row;
                        justify-content: end;
                    }
                    div{
                        .btndiv{
                            justify-content: end;
                        }
                    }
                }
                input[type="checkbox"]{
                    width: 23px;
                    height: 23px;
                }
            }
            form{
                display: flex;
                //width: 95%;
                input{
                    border: none;
                    font-size: 1.5rem;
                    text-align: start;
                    padding: 10px;
                    font-family: 'Ubuntu', sans-serif;
                }
                .btndiv{
                    display: flex;
                    flex-direction: row;
                }
            }
            .newTask{
                align-items: center;
                padding: 10px;
                border: var(--secBG) solid 1px;
                color: var(--text);
                backdrop-filter: blur(5px);
                border-radius: 10px;
                input{
                    margin-right: 10px;
                    margin-bottom: 0;
                }
                button{

                }
            }
        }
    }
    #LogIn{
        max-width: 600px;
        font-size: 1.5rem;
        // text-align: center;
        display: flex;
        flex-direction: column;
        margin: 20vh auto;
        padding: 30px;
        width: 80%;
        background-color: var(--mainBG);
        backdrop-filter: blur(5px);
        border-radius: 10px;
        border: var(--secBG) solid 1px;
        color: var(--text);
        h1{
            color:rgb(51, 58, 45);
            text-align: center;
        }
        input{
            text-align: center;
            //width: 90%;
            // background-color: var(--secBG);
            border: none;
            color: var(--text);
            border-radius: 10px;
            margin-bottom: 30px;
            font-size: 2.5rem;
            &::placeholder{
                color:var(--inactive);
            }
        }
        button{
            font-size: 2.5rem;
            margin-bottom: 30px;
        }
        a{
            text-decoration: none;
            font-size: 2.5rem;
            text-align: center;
            background-color: var(--secBG);
            color: var(--text);
            border-radius: 10px;
            // box-shadow: 1px 1px 1px white inset;
            &:hover{
                background-color: rgba(255, 0, 0, 0.6);
                box-shadow: 1px 1px 1px black inset;
            }
        }
    }
}
button{
    min-height: 46px;
    min-width: 46px;
    font-size: 1.5rem;
    // height: 24px;
    // text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secBG);
    color: var(--text);
    border-radius: 10px;
    padding: 0 10px;
    margin-right: 10px;
    border: none;
    // box-shadow: 1px 1px 1px white inset;
    &:hover{
        background-color: rgba(255, 0, 0, 0.6);
        box-shadow: 1px 1px 1px black inset;
    }
}
form{
    // margin: 0 auto;
    // padding: 10px;
    input{
        text-align: center;
        background-color: var(--secBG);
        color: var(--text);
        border-radius: 10px;
        margin-bottom: 10px;
        //margin-bottom: 10px;
        font-size: 2.5rem;
        &::placeholder{
            color:var(--inactive);
        }
    }
}
.specialDiv{
    flex-wrap: wrap;
}
.enrolled{
    width: 100%;
    form{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.greenBtn{
    &:hover{
        background-color: rgba(135, 254, 0, 0.6);
        box-shadow: 1px 1px 1px black inset;
    }
}
.yellowBtn{
    &:hover{
        background-color: rgba(219, 183, 20, 0.6);
        box-shadow: 1px 1px 1px black inset;
    }
}
.bold{
    font-style: italic;
}
.input30{
    width: 27%;
}
.input70{
    width: 68%;
}

@media screen and (max-width:1024px) {
    body{
        background-size: 400%;
        .App{
            header{
                padding:5px 5px;
                h1{
                    margin: 0;
                    padding: 0;
                    color: var(--text);
                }
            }
            main{
                font-size: 1rem;
                padding: 10px;
                //width: 100%;
                section{
                    // display: flex;
                    // justify-content:left;
                    // flex-wrap: wrap;
                    // width: 96%;
                    div{
                        form{
                            font-size: 1px;
                            input{
                                font-size: 1rem;
                            }
                        }
                    }
                }
                form{
                    font-size: 1px;
                    input{
                        font-size: 1rem;
                    }
                }
                .newTask{
                    input{
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    .input30{
        width: 100%;
    }
    .input70{
        width: 100%;
    }
}
@media screen and (max-width:512px) {
    body{
        .App{
            main{
                font-size: 1rem;
                padding: 10px;
                width: 100%;
                section{
                    display: flex;
                    flex-direction: column;
                    align-items:flex-start;
                    flex-wrap: wrap;
                    width: 93%;
                    div{
                        flex-direction: column;
                        // align-items:flex-start;
                        div{
                            div{
                                flex-direction: row;
                            }
                        }
                    }
                    button{}
                }
                form{
                    flex-direction: column;
                    input{
                        width: 93%;
                    }
                }
            }
        }
        
    }
}